In [ ]:
#SIDDHANT SINHA
#25070123109
#EXP 4 : STUDY OF SET IN PYTHON

In [ ]:
set1={"Apple","Banana","Cherry"}
print(set1)                          #This is unordered like you can see in the output order is changed
print(set1[1])                       #No index value as its random or unordered i.e. no indexing can be done

{'Apple', 'Cherry', 'Banana'}

TypeError: 'set' object is not subscriptable

In [ ]:
set3={"apple",2,True,1,"apple"}       #It removes duplicate therefore apple is printed once and only true or 1 will be printed so true is printed as boolean says 1 is true
print(set3)                           #set is mutable

set4={"apple","banana","cherry"}
set4.add("Kiwi")                      #directly cant be used under print and set.add is used to add an element
print(set4)

{True, 2, 'apple'}
{'banana', 'cherry', 'Kiwi', 'apple'}

In [ ]:
set5={"apple","banana","cherry"}
set5.remove("banana")                #set.remove is used to remove an element
print(set5)

{'cherry', 'apple'}

In [ ]:
#used for union or intersection
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)            #union is OR command i.e A|B and intersection is AND i.e. A&B we canalso use set6.union(set7) ig
print("intersection:",set6&set7)     #OR and AND cant be used in list or tuple
print("difference:",set6-set7)       #removes common element of A and B and prints elements of A
print("difference:",set7-set6)
print("dissimilar:",set6^set7)       #Xoring means removes common element and prints

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
dissimilar: {1, 2, 5, 6}

In [ ]:
#To make set immutable we make it a frozen set
set8=frozenset({"apple","banana","orange"})        #tupple bracet outside and setbracket inside
print(set8)
set8.add("Kiwi")
print(set8)                            #as set has become immutable so we cannot add

frozenset({'orange', 'banana', 'apple'})

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
set8=frozenset({"apple","banana","orange"})        #tupple bracet outside and setbracket inside
print(set8)
print(type(set8))

frozenset({'orange', 'banana', 'apple'})
<class 'frozenset'>

In [ ]:
'''Problem Statement 1:Unique Event Participants.
A college event has a list of students who registered multiple times by mistake.
Write a program using set to store participant names and display only unique participants'''


participants=["Ajay","Bob","Charan","Derik","Ajay","Eren","Ajay","Bob","Farhan","Ajay"]
unique_participants=set(participants)
print("Unique Participants:",unique_participants)
#list1=set9=frozenset(list1)  also this can be used and then list1 can be printed as a set

Unique Participants: {'Farhan', 'Bob', 'Charan', 'Derik', 'Eren', 'Ajay'}

In [ ]:
'''Problem Statement 2:Common Subjects
Three students study multiple subjects.
Write a program to find the common subject'''

set_student1={"maths","python","physics","biology"}
set_student2={"python","physics","BEEE","english"}
set_student3={"sanskrit","hindi","python","english"}
print("Common Subjects:",set_student1 & set_student2 & set_student3)

Common Subjects: {'python'}

In [1]:
'''Problem Statement 3: One set contains students in cricket club and another in football club.
Find students who are :1. In both clubs 2. In only one club'''

set_cricket={"Siddhant","Shrirang","Shreyas"}
set_football={"Siddhant","Soham","Samarth"}
print("In both clubs:",set_cricket&set_football)
print("In only cricket club:",set_cricket-set_football)
print("In only football club:",set_football-set_cricket)
print("Only one club:",set_cricket^set_football)

In both clubs: {'Siddhant'}
In only cricket club: {'Shreyas', 'Shrirang'}
In only football club: {'Soham', 'Samarth'}
Only one club: {'Samarth', 'Shrirang', 'Soham', 'Shreyas'}

In [2]:
'''Problem Statement 4: Absent Students
Give a set of aa students and a set of present students,find the absent students.'''

setstd={"Sid","Bob","Sam","Ram","Roy"}
presentstd={"Sid","Sam"}
print("Absent Students:",setstd-presentstd)

Absent Students: {'Roy', 'Ram', 'Bob'}

In [5]:
'''Problem Statement 5:Remove Invalid Entries.
A set contains valid course codes.
Remove a discontinued course code from the set.'''

subject={"Maths100","Ecsf101","Python102"}
subject.discard("Ecsf101")                       #We can also use subject.remove()
print(subject)

{'Python102', 'Maths100'}